:root{
    --acent-color-blue: #03A9F4; 
   --acent-color-nav: #7D7D7D; 
   --text-colot-main: #626262;
   --acent-color-grey: #B4AD9E;
}
/* font-family: 'Playfair Display', serif;
font-family: 'Ubuntu', sans-serif; */