
:root{
  --logo-color: #2196F3;
 --main-background-color: #2F303A; 
  --font-color:#FFFFFF;
  --title-color: #212121;
  --nav-color:#757575;
  --team-background-color: #F5F4FA;
  --header-background-color:#ECECEC ;
  --sub-hero-backgroundcolor: #EEEEEE;


}body {
    font-family: 'Roboto', sans-serif;
  }
  



.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
  margin: 15px 0;
  display: flex;
  
  
  
}

.body{
  margin: 94px 0;
  
}

.footer {
  padding: 94px 0;
  background-color: var(--main-background-color)
}

.content{
  list-style: none;
  margin: 50px 0;
  display: flex;
  flex-wrap: wrap;
}