body {
    font-family: 'Roboto', sans-serif;
  }
  
@font-face {
    font-family: Roboto;
    src: url('/font/Roboto-Bold.ttf');
}

body{
    font-family: 'Roboto', sans-serif;
}

root{
    --background: #2F303A;
    --white-color: #F5F4FA;
    --white-back: #FFFFFF;
}
.shapka {
 display: flex;
 justify-content: space-between;
 
}

